.abrir{
    background-color: white;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1D949C;
    top: 0px;
    left: 0px;
    
}

.abrir button{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: transparent;
    color: #1D949C;
}

.abrir.oculto{
    display: none;
}


.js .home{
    opacity: 0;
}

.home.ativo{
    opacity: 1;
    transform: none;
    transition: transform 0.8s, opacity 1.5s;
}
.home {
    padding-top: 150px;

}

.frase {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}


.texto_biblico{
    padding-bottom: 50px;
    color: #606060;
 
    
   
}

.home::after{
    content: "";
    display: block;
    width: 200px;
    height: 123px;
    top: 0;
    background-image: url("../img/home-flores-e.png");
    position: absolute;
    
}

.frase {
    color: #303525;
 
}

.nomes {

    color: #1D949C;
    text-align: center;
    padding-bottom: 20px;
   
   
}

.abrir{
    display: flex;
    justify-content: end; 


}
.img-casal-fundo{
    width: 800px;
    height: 100%;
    background-image: url("../img/casal.jpg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}


.nomes_button{
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
}



.hora{
    text-align: center;
    

}

.hora p:first-child {
    padding-bottom: 10px;
    font-size: 1rem;
    color: #303525 ;
    
}

.hora p:last-child {
    color: white;
  background-color: #26ABB4;
}

.links {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #606060;
}

.flex {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.flex p {
    padding-top: 10px;
}



.contador{
    width: 360px;
    height: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     background: url(../img/arco.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  
}

.contador p{
    margin-top: 10px;
    color: #606060;
    padding-bottom: 20px;
   
}

.container_tempo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    text-align: center;
}

.tempo{
  color: #606060;
    display: flex;
    flex-direction: column;
    font-weight: 700;
}



.slide_casal{
    padding-top: 50px;
    width: 100%;
}

.slide_casal img{
display: block;
width: 100%;
}

.vestimenta{
    text-align: center;
    max-width: 40ch;
    position: relative;
    padding-top: 100px;
}


.vestimenta ::before{
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    top: 0;
    right: -20px;
    background-image: url("../img/flor.svg");
    position: absolute;
    opacity: 0.01;
}



.vesti ::before{
    content: "";
    display: block;
    width: 200px;
    height: 200px;
    top: 0;
    left: -20px;
    transform: rotate(180deg);
  
    background-image: url("../img/flor.svg");
    position: absolute;
    opacity: 0.01;
}


.segundo_p, .terceiro_p{
    margin-top: 40px;
    
}



.hotel{
    padding-bottom: 50px!important;
}



.paletas{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
   

}

.paletas span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
    
}


.paleta-1{
    background-color: #B4BEB3;
}
.paleta-2{
    background-color: #AEBBA2;
}

.paleta-3{
    background-color: #99B4A3;
}

.paleta-4{
    background-color: #95B198;
}
.paleta-5{
    background-color: #62A08B;
}


h2.vestimenta-convidados{

    padding-top: 40px;
}

.esporte-fino{
    color: #1D949C;
    font-weight: bolder;
    padding-bottom: 5px;
}
